// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

.counter {
  &__actions {
    display: inline-block;
    vertical-align: top;
  }
}

.stacked-btn {
  display: flex;
  flex-direction: column;
}
